<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <link rel="icon" href="static/img/img-cv.jpg" type="image/x-icon">
    <title>Mauro Favieri</title>
</head>
<body>
    <div class="main-container">
        <header class="header-profile">
            <img src="static/img/img-cv.jpg" class="img-profile" alt="">
            <div class="header-details">
                <h1 class="title">MAURO DAVID FAVIERI ROBLES</h1>
                <h3 class="title2">Junior developer</h3>
                <h3 class="address">Barcelona - Spain</h3>
                <p class="about-me">I am a junior developer passionate about coding. Although I started later than most, as they say, it’s never too late to learn.

                Every day I dedicate myself to studying and improving in this field, and although I have always felt comfortable with Python and backend development, I am now exploring other languages, such as React Native and beyond.

                Learn more about me and my work on my personal GitHub <a class="linkedin" href="https://github.com/mauritoo0">here</a></p>
            </div>
        </header>

        <article class="power-tools">
            <h1>POWER TOOLS</h1>
            <div class="tools-icons">
                <div class="tool-item">
                    <i class="devicon-html5-plain colored tool-icon" id="html"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-css3-plain colored tool-icon" id="css"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-javascript-plain colored tool-icon" id="js"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-mysql-plain-wordmark" id="sql"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-python-plain colored tool-icon" id="python"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-django-plain colored tool-icon" id="dj"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-djangorest-plain colored tool-icon" id="djr"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-fastapi-plain colored tool-icon" id="fstapi"></i>   
                </div>
                <div class="tool-item">
                    <i class="devicon-react-original colored" id="react"></i>   
                </div>
                
            </div>    
        </article>
        <span class="tool-span">
                <p class="span-text"></p>
        </span>
        <article class="lab">
            <h1>MY LAB</h1>
            <div class="projects">
                <div class="project">
                    <h3 class="project-title">COUNTRY GAME</h3>
                    <img src="static/img/flags.jpg" alt="" id="country_game">
                </div>    
                <div class="project">
                    <h3 class="project-title">GLOW UP</h3>
                    <img src="static/img/glowup.jpg" alt="" id="glow_up">
                </div>
                <div class="project">
                    <h3 class="project-title">NIX</h3>
                    <img src="static/img/nix.jpg" alt="" id="nix">
                </div>    
            </div>
        </article>
        <span class="lab-span">
                <p class="lab-text"></p>
        </span>
        <article class="contact">
            <h1>ABOUT ME</h1>
                <div class="contact-icons">
                    <a href="https://www.linkedin.com/in/maurofavieri" target="_blank">
                        <i class="devicon-linkedin-plain colored"></i>
                    </a>
                    <a href="https://github.com/mauritoo0" target="_blank">
                        <i class="devicon-github-original colored"></i>
                    </a>
                    <div class="correo">
                        <a href="mailto:maurofavieri@hotmail.com">maurofavieri@hotmail.com</a>
                    </div>
                    <div class="cv">
                        <a href="files/CV2025Mauro.pdf" target="_blank">CV.pdf</a>
                    </div>
                </div>
        </article>
    </div>
<script src="static/js/script.js"></script>
</body>
</html>